@model IEnumerable<ContactLibrary.Contact>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

    <head>
        <title>Список контактов</title>
    </head>

    <body>

        <h3>Контакты</h3>

        @foreach (var c in Model)
        {
            <ul>
                @Html.ActionLink($"{@c.LastName} - {@c.FirstName}", "Show", "Home", new {id = @c.Id})
            </ul>
        }
    </body>
</html>
